
/*  Website Colors

Main Color: #020969
Accent Color: #6d6c6c
Secondary Color: #000000a1

*/

/*Main Page Styling Start */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: wolf;
    src: url(fonts/WolfsBaneRegular-RZqE.ttf)
}



/*Main Page Styling End */

/* Index Page Style Start */

header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 0;
    color: #040d91;
    font-family: wolf;
    font-style: normal;
    font-weight: normal;
    background-color: white;
    border-radius: 2px;
}

.headerlogo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 40px;
}

header h1 {
    font-size: 90px;
    font-weight: 10;
    color: rgb(40, 43, 199);
}

.headerspan {
    background-color: #020969;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    -webkit-text-stroke-color: #6d6c6c;
    -webkit-text-stroke-width: 2px;
}

.headerspan2 {
    color: #6d6c6c;
    margin-left: 5px;
}

.sociallogo {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -90px;
    margin-right: 30px;
    background-color: rgb(15, 238, 26);
    border-radius: 5px;
}

.insta {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -95px;
    margin-right: 50px;
    border-radius: 5px;
    display: none;
}

.navbar {
    width: 100%;
    align-items: center;
}

.navbar li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    background-color: #000000a1;
}

.navbar li a:hover {
    text-decoration: underline;
}

.zoomnav {
    transition: transform 0.3s;
}
.zoomnav:hover {
    transform: scale(1.1);
}

.headingtext {
    margin-left: 170px;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
}

.zoomsocial {
    transition: transform 0.5s;
}
.zoomsocial:hover {
    transform: scale(1.3);
}


.bg {
    width: 100%;
    height: 300px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    margin: 0;
    padding: 0;
}

.maincontainer1 {
    display: flex;
}

.mainintro {
    margin: auto;
    width: 30%;
    margin-top: 20px;
    text-align: left;
}

.mainintro h1 {
    font-size: 50px;
}

.mainintro p {
    font-size: 1rem;
    margin-top: 10px;
}

.mainimg {
    margin: auto;
    width: 700px;
    height: 700px;
    background-image: url(images/index/section1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.mainbtn {
    padding: 20px;
    margin-top: 40px;
    margin-left: 170px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #020969;
    color: white;
}

.mainbtn:hover {
    color: #000000a1;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.sectionhead {
    margin: 30px;
    padding: 15px;
    width: 100%;
    font-size: 2rem;
}

.maincontainer2 {
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-top: 50px;
}

.featureicon {
    width: 24px;
    height: 24px;
    stroke: #020969;
    margin-left: 17px;
    margin-bottom: 10px;
}

.mainbox h4 {
    margin-left: 17px;
    margin-top: 10px;
    font-weight: bolder;
}

.mainbox p {
    font-size: 0.9rem;
    margin-left: 17px;
    margin-top: 20px;
    width: 70%;
}

.mainbox {
    width: 30%;
    height: 230px;
    border-left: 2px solid black;
}

.testemonial {
    margin: auto;
    background-color: #020969;
    width: 95%;
    height: 300px;
    color: white;
    padding: 20px;
    margin-top: 90px;
    border-radius: 5px;
    position: relative;
    font-family: 'Times New Roman', Times, serif
}

.testemonial img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 100px;
    }

.testemonial .adjustp {
    width: 900px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 450px;
    font-size: 2rem;
}

.testemonial p {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 450px;
    font-size: 1.5rem;
}

.invertedcomma {
    color: red;
}

.sectionhead2 {
    margin: 30px;
    padding: 15px;
    width: 100%;
    font-size: 3rem;
}

.maincontainer3 {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.servicelist {
    margin: auto;
    width: 30%;
    margin-top: 20px;
    text-align: left;
}

.servicelist h1 {
    font-size: 50px;
}

.servicelist ul {
    list-style: none;
    margin-top: 30px;
    border-left: 2px solid black;
    padding: 20px;
}

.mainimg2 {
    margin: auto;
    width: 500px;
    height: 500px;
    background-image: url(images/index/service.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.contactbtn {
    padding: 20px;
    margin-top: 40px;
    margin-left: 170px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #020969;
    color: white;
}

.contactbtn:hover {
    color: #000000a1;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}


.footer {
    margin-top: 20px;
    text-align: center;
    color: rgb(5, 8, 187);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 42%;
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: #7a7a7a;
}

.footer p {
    font-size: 12px;
}

/* Index Page Style Stop */

/* Contact Us Page Style Start */

.hiddenonsmall {
    opacity: 0;
}

.contactinfo {
    height: 700px;
    gap: 40px;
    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.795) );
}

.contactinfo li {
    color: white;
    margin-left: 820px;
}

.pic {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.pic img {
    width: 800px;
    height: 400px;
}

.contactheading {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.contactheading .underline {
    text-align: center;
}

.red {
    color: red;
}

.contactdeets {
    color: white;
    text-align: center;
}

.contactdeets2 {
    color: white;
    text-align: center;
}

.contactinfo .heading {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.wa {
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: 200px;
    justify-self: center;
}

.wa img {
    width: 200px;
}

.wa{
    transition: transform 0.5s;
}

.wa:hover {
    transform: scale(1.1);
}

/* Contact Us Page Style End */

/* Projects Page Style Start */

.galleryheading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    width: 100%;
    height: 50px;
    margin: 0;
    color: #040d91;
}

.projectsgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.795) );
    width: 100%;
    padding: 20px;
}

.projectsgallery h1 {
    font-size: large;
    text-align: center;
}

.projectsgallery a {
    color: white;
    text-decoration: none;
}

.projectsgallery img {
    width: 100%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 5px;
}

.imagescontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background-color: #040d91;
}

.images img {
    width: 100%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 5px;
}

.galleryheading {
    margin-top: 10px;
}


@keyframes gallery {
    
    0% {
        opacity: 0;
        transform: translateY(-210%);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide1 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.hide2 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.hide3 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.hide4 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.zoom {
    transition: transform 0.5s;
}
.zoom:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px white;
}

/* Projects Page Style End */


/* Team Page Style Start */

.teamcontainer {
    display: grid;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.795) );
}

.gary {
    background-image: url(gary.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 100%;
}

.teamtext {
    padding: 0;
    padding-top: 30px;
    margin: 10px;
    color: white;
    margin-right: 300px;
}

.teamtext h3 {
    text-align: center;
    padding-bottom: 30px;
}

.teamtext p {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}


@keyframes text {
    from {color: #ffffff00;}
    to {color: white;}
}

@keyframes person {
    from {opacity: 0;}
    to {opacity: 100;}
}

/* Team Page Style End */


/* Responsive design for smaller screens */

@media screen and (max-width: 500px) {

    .navbar .hidemenusmall {
        display: none;
        padding: 0;
        width: 100%;
    }

    .smallgrid {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-auto-rows: minmax(100px, auto);
    }

    .box2 {
        display: none;
    }

    header h1 {
        font-size: 50px !important;
        font-weight: 10 !important;
        line-height: 100px;
    }

    .bg {
        background-attachment: unset;
        width: 100%;
    }

    .maincontainer1 {
        display: flex;
        flex-direction: column;
    }
    
    .mainintro {
        margin: auto;
        width: 80%;
        margin-top: 20px;
    }
    
    .mainintro h1 {
        font-size: 3rem;
    }
    
    .mainintro p {
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .mainimg {
        width: 95%;
        height: 300px;
        background-image: url(images/index/section1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
    }

    .mainbtn {
        margin-left: 100px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bolder;
        background-color: #020969;
        color: white;
    }

    .maincontainer2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        margin-top: 50px;
    }

    .mainbox {
        width: 90%;
        height: 250px;
        margin-left: 10px;
        border-left: none;
        margin-top: 40px;
        border-left: 2px solid black;
    }

    .testemonial {
       display: none;
    }

    .maincontainer3 {
        display: flex;
        flex-direction: column;
        height: 1500px;
        margin-top: 600px;
    }

    .servicelist {
        margin-left: 20px;
        width: 80%;
        margin-top: 20px;
        text-align: left;
    }
    
    .servicelist h1 {
        font-size: 50px;
    }

    .contactbtn {
        padding: 20px;
        margin-top: 40px;
        margin-left: 150px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bolder;
        background-color: #020969;
        color: white;
    }
    
    .contactbtn:hover {
        color: #000000a1;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
    }

    .mainimg2 {
        margin-top: -350px;
        width: 95%;
        height: 500px;
        background-image: url(images/index/service.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hidesmall {
        display: none;
    }

    .contactsmallgrid {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-auto-rows: minmax(100px, auto) !important;
    }

    .contactbox2 {
        background-image: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .contactbox2 .hiddenonsmall {
        text-align: center;
        opacity: 1;
        font-size: larger;
        margin-bottom: 50px;
        color: yellow;
        font-weight: bold;
    }

    .contactheading {
        margin-bottom: 20px;
    }

    .smallgridteam {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .smallgridteam .teamtext p {
        margin: 0;
    }

    .smallgridteam .teamtext {
        margin: 10px;
        text-align: center;
        width: 96%;
    }

    .smallgridteam .gary {
        background-image: url(gary.jpg);
        background-size: 150px;
        background-repeat: no-repeat;
        background-position-x: center;
        height: 200px;
        margin-top: 10px;
    }

    .pic img {
        width: 350px !important;
        height: 300px !important;
    }

    .contactinfo li {
        margin-left: 100px !important;
        color: white;
    }

    .sociallogo {
        margin-right: 10px !important;
        width: 20px !important;
        height: 20px !important;
    }

    .headerlogo {
        margin-right: 0 !important;
    }

    .wa {
        transition: transform 0.5s !important;
    }
    
    .wa:hover {
        transform: scale(1.1) !important;
    }

}

/* Responsive design for smaller screens */
