/*Main Page Styling Start */

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: knight;
    src: url(fonts/Deadknight.ttf)
}

body {
    background-color: #7a7a7a;
}

/* Responsive design for smaller screens */

@media screen and (max-width: 500px) {

    .navbar .hidemenusmall {
        display: none;
        padding: 0;
        width: 100%;
    }

    .smallgrid {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-auto-rows: minmax(100px, auto);
    }

    .box2 {
        display: none;
    }

    header h1 {
        font-size: 20px !important;
        font-weight: 10 !important;
        line-height: 100px;
    }

    .hidesmall {
        display: none;
    }

    .contactsmallgrid {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-auto-rows: minmax(100px, auto) !important;
    }

    .contactbox2 {
        background-image: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .contactbox2 .hiddenonsmall {
        text-align: center;
        opacity: 1;
        font-size: larger;
        margin-bottom: 50px;
        color: yellow;
        font-weight: bold;
    }

    .contactheading {
        margin-bottom: 20px;
    }

    .smallgridteam {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .smallgridteam .teamtext p {
        margin: 0;
    }

    .smallgridteam .teamtext {
        margin: 10px;
        text-align: center;
        width: 96%;
    }

    .smallgridteam .gary {
        background-image: url(gary.jpg);
        background-size: 150px;
        background-repeat: no-repeat;
        background-position-x: center;
        height: 200px;
        margin-top: 10px;
    }

    .pic img {
        width: 350px !important;
        height: 300px !important;
    }

    .contactinfo li {
        margin-left: 100px !important;
        color: white;
    }

    .sociallogo {
        margin-right: 10px !important;
        width: 20px !important;
        height: 20px !important;
    }

    .headerlogo {
        margin-right: 0 !important;
    }

    .wa {
        transition: transform 0.5s !important;
    }
    
    .wa:hover {
        transform: scale(1.1) !important;
    }

}

/* Responsive design for smaller screens */


/*Main Page Styling End */

/* Index Page Style Start */

header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 0;
    color: #040d91;
    font-family: knight;
    font-size: 40px;
    font-weight: normal;
    background-color: white;
    border-radius: 2px;
}

.headerlogo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 40px;
}

header h1 {
    font-size: 50px;
    font-weight: 10;
    color: rgb(40, 43, 199);
}

.sociallogo {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -90px;
    margin-right: 30px;
    background-color: rgb(15, 238, 26);
    border-radius: 5px;
}

.insta {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -95px;
    margin-right: 50px;
    border-radius: 5px;
    display: none;
}

.navbar {
    width: 100%;
    border-radius: 5px;
    align-items: center;
}

.navbar li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    background-color: #6d6c6c;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.zoomnav {
    transition: transform 0.3s;
}
.zoomnav:hover {
    transform: scale(1.1);
}

.headingtext {
    margin-left: 170px;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
}

.zoomsocial {
    transition: transform 0.5s;
}
.zoomsocial:hover {
    transform: scale(1.3);
}


.bg {
    width: 100%;
    height: 200px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin: 0;
    padding: 0;
}

.mainarea1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
}

.box1 {
    padding: 10px;
    background-color: #1b0599;
    color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.479) );
    border: 2px solid white;
    border-radius: 5px;
}

.box1 ul {
    padding-left: 40px;
}

.box2 {
    background-color: white;
    background-image: url(card.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes movetext {
    from {color: rgba(255, 255, 255, 0);}
    to {color: white;}
}

.box1 p {
    animation-name: movetext;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.box1 ul {
    animation-name: movetext;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: rgb(5, 8, 187);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 42%;
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: #7a7a7a;
}

.footer p {
    font-size: 12px;
}

/* Index Page Style Stop */

/* Contact Us Page Style Start */

.hiddenonsmall {
    opacity: 0;
}

.contactinfo {
    height: 700px;
    gap: 40px;
    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.795) );
}

.contactinfo li {
    color: white;
    margin-left: 820px;
}

.pic {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.pic img {
    width: 800px;
    height: 400px;
}

.contactheading {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.contactheading .underline {
    text-align: center;
}

.red {
    color: red;
}

.contactdeets {
    color: white;
    text-align: center;
}

.contactdeets2 {
    color: white;
    text-align: center;
}

.contactinfo .heading {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.wa {
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: 200px;
    justify-self: center;
}

.wa img {
    width: 200px;
}

.wa{
    transition: transform 0.5s;
}

.wa:hover {
    transform: scale(1.1);
}

/* Contact Us Page Style End */

/* Projects Page Style Start */

.galleryheading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    width: 100%;
    height: 50px;
    margin: 0;
    color: #040d91;
}

.projectsgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.795) );
    width: 100%;
    padding: 20px;
}

.projectsgallery h1 {
    font-size: large;
    text-align: center;
}

.projectsgallery a {
    color: white;
    text-decoration: none;
}

.projectsgallery img {
    width: 100%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 5px;
}

.imagescontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background-color: #040d91;
}

.images img {
    width: 100%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 5px;
}

.galleryheading {
    margin-top: 10px;
}


@keyframes gallery {
    
    0% {
        opacity: 0;
        transform: translateY(-210%);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide1 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.hide2 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.hide3 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.hide4 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.zoom {
    transition: transform 0.5s;
}
.zoom:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px white;
}

/* Projects Page Style End */


/* Team Page Style Start */

.teamcontainer {
    display: grid;
    grid-template-columns: 30% 70%;
    box-sizing: border-box;
    background-image: linear-gradient(#1b0599, rgba(0, 0, 0, 0.795) );
}

.gary {
    background-image: url(gary.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 100%;
}

.teamtext {
    padding: 0;
    padding-top: 30px;
    margin: 10px;
    color: white;
    margin-right: 300px;
}

.teamtext h3 {
    text-align: center;
    padding-bottom: 30px;
}

.teamtext p {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}


@keyframes text {
    from {color: #ffffff00;}
    to {color: white;}
}

@keyframes person {
    from {opacity: 0;}
    to {opacity: 100;}
}

/* Team Page Style End */
