/*Main Page Styling Start */

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

@font-face {
    font-family: knight;
    src: url(fonts/KnightsQuest.ttf)
}

body {
    background-color: #b4b4b4;
}

/*Main Page Styling End */

/* Index Page Style Start */

.mainheader {
    background-color: #2c38dd;
    color: white;
    display: flex;
    justify-content: space-between;
    background-image: url(logo.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    align-content: center;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.navbar ul {
    list-style: none;
    color: white;
    display: flex;
    padding: 0;
}

.navbar {
    color: white;
    display: inline-block;
    margin: auto;
    margin-right: 20px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.zoomnav {
    transition: transform 0.3s;
}
.zoomnav:hover {
    transform: scale(1.1);
}

.headingtext {
    margin-left: 170px;
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
}

.headingtext a {
    text-decoration: none;
    color: white;
    font-family: knight;
    font-weight: lighter;
    font-size: 70px;
}

.socials {
    display: flex;
    box-sizing: border-box;
    margin-left: 4px;
}

.socials p {
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.socials img {
    width: 25px;
    height: 25px;
    margin-top: 17px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 3px;
}

.zoomsocial {
    transition: transform 0.5s;
}
.zoomsocial:hover {
    transform: scale(1.5);
}


.bg {
    width: 100%;
    height: 150px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin: 0;
    padding: 0;
}

.mainarea1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 580px;
    width: 100%;
    border: 3px solid white;
    border-radius: 8px;
    min-width: 100px;
    box-sizing: border-box;
}

.box1 {
    flex: 35%;
    padding: 15px;
    background-color: rgb(27, 5, 153);
    color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: 100%;
}

@keyframes movetext {
    from {color: rgba(255, 255, 255, 0);}
    to {color: white;}
}

.box1 p {
    animation-name: movetext;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.box1 ul {
    animation-name: movetext;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.box2 {
    flex: 55%;
    background-image: url(card.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    overflow: hidden;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: rgb(5, 8, 187);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 42%;
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
}

.footer p {
    font-size: 12px;
}

/* Index Page Style Stop */

/* Contact Us Page Style Start */

.contactmain {
    display: flex;
    justify-content: center;
    height: 700px;
    gap: 40px;
    width: 100%;
    align-items: right;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #040d91;
    box-sizing: border-box;
}

.contactbox1 {
    width: 30%;
    padding: 20px;
    color: white;
    flex: 2;
    color: black;
    list-style: none;
}

.contactbox1 li {
    border-left: 2px solid white;
    padding-left: 10px;
    color: white;
}

.contactbox1 p {
    text-align: left;
    
}

.contactbox2 {
    width: 50%;
    background-image: url(openinghours.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: center;
    background-position-y: 50px;
    justify-content: flex-end;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

.contactbox2 li {
    list-style: none;
    text-align: center;
    margin-right: 20px;
}

.contactbox2 ul {
    color: white;
    font-size: 25px;
    margin-bottom: 200px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
}

.red {
    color: red;
}

.contactheading {
    color: white;
    margin-top: 10px;
}

.contactbox1 p {
    font-size: 15px;
    color: white;
    margin-top: 40px;
}

.underline {
    text-decoration: underline;
}

.form-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    box-sizing: border-box;
    margin-top: 20px;
}

.form-container input, .form-container textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-container textarea {
    height: 100px;
    resize: none;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #020e81;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #020e81;
}

/* Contact Us Page Style End */

/* Projects Page Style Start */

.galleryheading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    width: 100%;
    height: 50px;
    margin: 0;
    color: #040d91;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #040d91;
    padding-bottom: 10px;
    padding-left: 10px;
    justify-content: space-evenly;
}

.gallery h1 {
    text-align: center;
}

.imagescontainer {
    display: flex;
    padding: 0 4px;
    border: 3px solid #040d91;
    border-radius: 8px;
    background-color: #040d91;
}

.images {
    flex: 25%;
    max-width: 35%;
    padding: 0 10px;
}

.images img {
    width: 100%;
    margin: 5px;
    border: 3px solid white;
    border-radius: 5px;
}

@keyframes gallery {
    
    0% {
        opacity: 0;
        transform: translateY(-210%);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide1 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.hide2 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.hide3 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.hide4 {
    opacity: 0;
    animation-name: gallery;
    animation-duration: 3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.gallerycontent {
    flex: 25%;
    padding: 0 4px;
    max-width: 20%;
}

.gallerycontent img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.gallerycontent h1 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.carports {
    flex: 25%;
    padding: 0 4px;
    max-width: 20%;
}

.carports img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.carports h1 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.slidedoor {
    flex: 25%;
    padding: 0 4px;
    max-width: 20%;
}

.slidedoor img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.slidedoor h1 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.fence {
    flex: 25%;
    padding: 0 4px;
    max-width: 20%;
}

.fence img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.fence h1 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.zoom {
    transition: transform 0.5s;
}
.zoom:hover {
    transform: scale(1.03);
}


/* Projects Page Style End */


/* Team Page Style Start */

.teamcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    gap: 30px;
    background-color: #040d91;
    border: 3px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

@keyframes text {
    from {color: #ffffff00;}
    to {color: white;}
}

@keyframes person {
    from {opacity: 0;}
    to {opacity: 100;}
}

.gary {
    flex: 1;
    text-align: left;
    background-image: url(gary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    animation-name: person;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.garytext {
    animation-name: person;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.team {
    flex: 2;
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.person1 {
    background-image: url(team/person1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 14.2%;
    padding: 5px;
    animation-name: person;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.person2 {
    background-image: url(team/person2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 20%;
    padding-bottom: 10px;
    animation-name: person;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.person3 {
    background-image: url(team/person3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 20%;
    padding: 5px;
    animation-name: person;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.text .persontext1 {
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, 0);
}

.text .persontext2 {
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, 0);
}

.text .persontext3 {
    animation-name: text;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, 0);
}

.text {
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* Team Page Style End */